---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/vote_cover.png"></a>
<a href="../"><h5>taktikaiszavazas.hu</h5></a></div>

<div class="col l7 offset-l1 center">
      <h3 class="header">"Listára szívvel, egyénire ésszel!"</h3>
	 <h5 class="header center col s12">Válaszd a legesélyesebb ellenzéki jelöltet április 8-án!</h5>
    </div></div>
     
      </div>
  <div class="container">
	  <div class="row">
      <div class="col l6 card light-green lighten-3">
	    <div class="card-content">
            <span class="center center red accent-1 card-title" id="kereso"><i class="material-icons">search</i> <strong>Választókerületi kereső</strong></span>

            <p>Az alábbi <strong>Település</strong> mezőben megadhatod a településed nevét (Budapesten kerületet), hogy lásd, <strong>mely jelöltek esélyesek az adott választókerületben</strong>. Nagyobb városoknál és Budapesten <strong>olykor több választás is lehetséges</strong>, ezért egyértelműsíteni kell a választást (például "Budapest XIII. kerület (Vizafogó, Újlipótváros)" vagy "Debrecen (Nagyerdő)". Ha kiválasztottad a településed, <strong>kattints a képre, így láthatod majd a jelölteket</strong>. Az összes kerület listája <a href="../valasztokeruletek">itt érhető el</a>. A pontos (utcaszintű) kereső a <a href="http://www.valasztas.hu/szavazohelyiseg-kereso">valasztas.hu</a> oldalán található.</p>
            
            <br>
			      <p class="white" style="padding: 5px; border-radius: 3px"><strong>Település:</strong>
              <input id="project" class="ui-autocomplete-input" autocomplete="off" style="margin-bottom: 0px">
              <input type="hidden" id="project-id">
            </p>
            <p>A te választókerületed:&nbsp;
              <a id="project-url" style="display: none;" href="#"><span id="project-description"></span>
              <img id="project-icon" width="100%" src="images/transparent_1x1.png" class="ui-state-default" alt=""></a>
            </p>
          </div>
          </div>
<div class="col l5 offset-l1 card light-green lighten-3">
	    <div class="card-content">
            <span class="center center red accent-1 card-title">Kire szavazzak <strong>április 8-án?</strong></span>

            <p>1. <strong>Nézd meg</strong> szavazás előtt, hogy a választókörzetedben <strong>ki a legesélyesebb ellenzéki jelölt!</strong></p>
			<br/>
             <p>2. <strong>Szavazz rá az egyéni jelöltek között</strong>, listán pedig a szívedhez legközelebb álló pártra!</p>
			 <br/>
             <p>3. <strong>Kérd meg a barátaid</strong>, hogy ők is a legesélyesebb jelöltet támogassák!</p>
</div>
    </div>
          <p></p></div>
	
	
      <div class="row">
        <div class="col l6 card light-green lighten-4">
        
<div class="card-content">
          <span class="center card-title">Mi az oldal célja?</span>
          <p><strong>Ez az oldal a 2018. április 8-i országgyűlési választásokon 
            kiosztandó 106 egyéni mandátum sorsáról mutat előrejelzéseket</strong>, amelyek heti rendszerességel frissülnek. Emellett az oldal <strong>segítséget nyújt minden választó számára, aki 
            szeretné a Fidesz kormányt leváltani 2018-ban</strong>, és ebből a célból 
            <strong>a legesélyesebb ellenzéki jelöltre</strong> adná szavazatát.</p>
          <p>Az oldalon található <a href="#kereso">választókerületi kereső</a> minden 
            választókerületben megmutatja, hogy <strong>a legfrissebb becslés szerint ki a legesélyesebb ellenzéki 
            jelölt</strong>, és azt is, hogy milyen eséllyel nyerhető meg az adott
            körzet az ellenzéki pártok által. A becsléshez használt <strong>módszertanról</strong> 
            <a href="../metodologia">itt találsz leírást.</a></p>
        </div>        
        </div>
		<div class="col l5 offset-l1 card light-green lighten-4">
          <div class="card-content light">
            <span class="center card-title"><i class="material-icons">trending_up</i> Miért az esélyes jelöltet válasszam egyéniben?</span>

            <p><strong>A 2018-as választás az egyéni választókerületekben fog eldőlni, 
              ugyanis így működik a jelenlegi választási rendszerünk.</strong> Ezért 
              fontos, hogy az egyéni jelöltre leadott szavazatunkat a legjobban 
              hasznosítsuk, ha <strong>el akarjuk kerülni, hogy a Fidesz újra többségbe 
              kerüljön</strong> a választást követően, még úgy is, hogy kevesebb szavazatot 
              kapott az ellenzéki pártoknál.</p>
          </div>
		  </div>
    </div>
	 
	<div class="row">
    <div class="col s12 card light-green lighten-4">
      <div class="card-content">
      <span class="center card-title">Szoros választókerületek</span>

            <p>Az alábbi lista tartalmazza azokat a választókerületeket, ahol 
              szoros verseny várható két jelölt között.</p>

              <table class="striped">
              <thead>
                <tr>
                    <th>Választókerület</th>
                    <th>Várható győztes</th>
					<th>Várható második</th>
					<th>Különbség</th>
                </tr>
              </thead>
              <tbody>
<tr><td><a href="../sz4">Jász-Nagykun-Szolnok megyei 4.</a></td>
<td id="id_xxx">Fidesz</td>
<td id="id_zzzz">Csányi Tamás (Jobbik)</td>
<td id="id_yyy">0.1%</td></tr>
<tr><td><a href="../ba1">Baranya megyei 1.</a></td>
<td id="id_xxx">Fidesz</td>
<td id="id_zzzz">dr. Mellár Tamás (független)</td>
<td id="id_yyy">0.2%</td></tr>	
<tr><td><a href="../pe12">Pest megyei 12.</a></td>
<td id="id_xxx">Fidesz</td>
<td id="id_zzzz">Volner János (Jobbik)</td>
<td id="id_yyy">0.4%</td></tr>	
<tr><td><a href="../cs4">Csongrád megyei 4.</a></td>
<td id="id_xxx">Dr. Kiss Attila (Jobbik)</td>
<td id="id_zzzz">Fidesz</td>
<td id="id_yyy">0.4%</td></tr>	
<tr><td><a href="../za3">Zala megyei 3.</a></td>
<td id="id_xxx">Zakó László (Jobbik)</td>
<td id="id_zzzz">Fidesz</td>
<td id="id_yyy">0.5%</td></tr>	
<tr><td><a href="../ve1">Veszprém megyei 1.</a></td>
<td id="id_xxx">Fidesz</td>
<td id="id_zzzz">Kész Zoltán (független)</td>
<td id="id_yyy">0.6%</td></tr>	
<tr><td><a href="../ve3">Veszprém megyei 3.</a></td>
<td id="id_xxx">Fidesz</td>
<td id="id_zzzz">Rig Lajos (Jobbik)</td>
<td id="id_yyy">0.9%</td></tr>	
<tr><td><a href="../baz6">Borsod-Abaúj-Zemplén megyei 6.</a></td>
<td id="id_xxx">Bíró László (Jobbik)</td>
<td id="id_zzzz">Fidesz</td>
<td id="id_yyy">1.0%</td></tr>		
              </tbody>
            </table>
      </div>
    </div>
		  <br/>
<p class="light">A weboldal hirdetéseiben felhasznált képek forrásai: <a href="https://index.hu">index.hu</a>, <a href="https://24.hu">24.hu</a>, <a href="https://varosikurir.hu">varosikurir.hu</a>, <a href="https://caijing.chinadaily.com.cn">caijing.chinadaily.com.cn</a>, <a href="http://themetapicture.com">themetapicture.com</a>, <a href="https://www.cibsejournal.com">cibsejournal.com</a>, <a href="http://www.rackeve.hu">rackeve.hu</a>, <a href="https://24.p3k.hu">24.pk3.hu</a>, <a href="https://civilhetes.net">civilhetes.net</a>, <a href="https://www.napi.hu​">napi.hu</a>.

  </div>
</div>
      
{% include vk-kereses.html %}

  