---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/2019_logo_2_200x200.png"></a>
<a href="../"><h5><span style="color: black;">taktikaiszavazas.hu</span></a></h5>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Önkormányzati választás 2019</h3>
	 <h5 class="header center">Vegyük vissza önkormányzatainkat! "Egy az egy ellen!"</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
	    <div class="col l2"></div>
        <div class="col l8 card light-green lighten-4">
        
<div class="card-content">
          <span class="center card-title">Mi az oldal célja?</span>
          <p>Ez az oldal a 2019-es önkormányzati választásokhoz ad iránymutatást a választóknak arról, hogy hol indulnak <a href="../kozos-jeloltek">közös ellenzéki jelöltek</a> a nagyobb városokban és Budapesten.</p>
		  <br/>
		  <p>Az oldal tartalmazza minden <a href="../varosok-listaja">10000 fő feletti lakossággal rendelkező városban</a> eredményeit a 2014-es választásokról és a jövőben előrejelzéseket is mutat majd a különböző polgármesterjelöltek esélyeiről.</p>
		  <br/>
		  <p>A cél, hogy 2019 őszén minél több várost és kisebb települést visszahódítsunk a Fidesztől, ezzel megtéve az első lépéseket a kormányváltáshoz vezető úton.</p>
           
        </div>     
        </div>
		<div class="col l2"></div>
		
    </div>
	</div> 
     
  <div class="container">
    <div class="row">
<div class="col s12">


 
  <br/>
	<br/>
    </div>
	
	 <p class="light">A weboldal hirdetéseiben felhasznált képek forrásai: <a href="https://index.hu">index.hu</a>, <a href="https://24.hu">24.hu</a>, <a href="https://varosikurir.hu">varosikurir.hu</a>, <a href="https://caijing.chinadaily.com.cn">caijing.chinadaily.com.cn</a>, <a href="http://themetapicture.com">themetapicture.com</a>, <a href="https://www.cibsejournal.com">cibsejournal.com</a>, <a href="http://www.rackeve.hu">rackeve.hu</a>, <a href="https://24.p3k.hu">24.pk3.hu</a>, <a href="https://civilhetes.net">civilhetes.net</a>, <a href="https://www.napi.hu​">napi.hu</a>.</p>
  </div>
</div>

  