---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/2019_logo_2_200x200.png"></a>
<a href="../"><h5><span style="color: black;">taktikaiszavazas.hu</span></a></h5>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Választás 2024</h3>
	 <h5 class="header center">2024. június 9.</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
<div class="col l6">
<h4>EP mandátumok becsült aránya</h4>
<iframe title="Becsült EP mandátumok száma" aria-label="Multiple Donuts" id="datawrapper-chart-yiaWi" src="https://datawrapper.dwcdn.net/yiaWi/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="320" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
</div>

        <div class="col l5 offset-l1 card light-green lighten-4">
        
<div class="card-content">
          <span class="card-title">Mi az oldal célja?</span>
          <p>Az oldal a 2024-es önkormányzati- és EP választásokhoz ad iránymutatást a választóknak arról, hogy hány EP mandátumot és önkormányzati helyet nyerhet egy-egy párt vagy pártszövetség.</p>
		  <br/>
		  <p>Az előrejelzés működéséről az <a href="../modszertan">Előrejelzés módszertana</a> fül tartalmaz további információkat (ez az információ jelenleg fejlesztés alatt áll).</p>
		  <br/>

		  
        </div>     
        </div>
		<br/>
        <br/>
			<div class="col s8">
  <h4>Mandátumkalkulátor</h4>
   
    
    <div id="partyInputs">
        <h5>Add meg a pártok szavazatarányát (%-ban)</h5>
        <!-- Input fields for party votes -->
        <label for="party1"><h5>Fidesz-KDNP</h5></label>
        <input type="number" id="Fidesz-KDNP"><br>
        <label for="party2"><h5>DK</h5></label>
        <input type="number" id="DK"<br>
		 <label for="party2"><h5>Momentum</h5></label>
        <input type="number" id="Momentum"<br>
		 <label for="party2"><h5>Mi Hazánk</h5></label>
        <input type="number" id="Mi Hazánk"<br>
		 <label for="party2"><h5>MKKP</h5></label>
        <input type="number" id="MKKP"<br>
		 <label for="party2"><h5>MSZP</h5></label>
        <input type="number" id="MSZP"<br>
		 <label for="party2"><h5>Jobbik</h5></label>
        <input type="number" id="Jobbik"<br>
		 <label for="party2"><h5>LMP</h8></label>
        <input type="number" id="LMP"<br>
		<label for="party2"><h5>Párbeszéd</h8></label>
        <input type="number" id="Párbeszéd"<br>
		<label for="party2"><h5>Nép Pártján</h8></label>
        <input type="number" id="Nép Pártján"<br>
		<label for="party2"><h5>Egyéb pártok</h8></label>
        <input type="number" id="Egyéb pártok"<br>

       
    </div>
    <br>
    <button type="button" onclick="calculate()">Számolás</button><br><br>

    <div id="result">
        <!-- Result will be displayed here -->
    </div>

    <script>
        function calculate() {
            const totalSeats = 21
            const minVoteShare = 5

            const parties = [];
            for (let i = 1; i <= 11; i++) {
                const votes = parseInt(document.getElementById('party' + i).value);
                if (!isNaN(votes)) {
                    parties.push({ name: `Party ${i}`, votes });
                }
            }

            // Perform D'Hondt calculations
            const allocatedSeats = allocateSeats(parties, totalSeats);
            displayResult(parties, allocatedSeats);
        }

        function allocateSeats(parties, totalSeats) {
            const seats = Array(parties.length).fill(0); // Initialize seats for each party

            for (let seat = 1; seat <= totalSeats; seat++) {
                let maxQuotient = 0;
                let maxIndex = -1;

                for (let i = 0; i < parties.length; i++) {
                    const quotient = parties[i].votes / (seats[i] + 1);
                    if (quotient > maxQuotient) {
                        maxQuotient = quotient;
                        maxIndex = i;
                    }
                }

                if (maxIndex !== -1) {
                    seats[maxIndex]++;
                }
            }

            return seats;
        }

        function displayResult(parties, allocatedSeats) {
            let result = '<strong>Mandátumok száma:</strong><br>';
            for (let i = 0; i < parties.length; i++) {
                const partyName = parties[i].name;
                const seats = allocatedSeats[i] || 0;
                result += `${partyName}: ${seats} seats<br>`;
            }
            document.getElementById('result').innerHTML = result;
        }
    </script>
  

 


  
</div>
		<div class="col s12">
<h4>Önkormányzati választások - Budapest</h4>
<iframe title="Különbség a Fidesz-KDNP és ellenzéki pártok szavazataránya között (2019-es adatok)" aria-label="Arrow Plot" id="datawrapper-chart-1QjqW" src="https://datawrapper.dwcdn.net/1QjqW/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="534" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
</div>
		<div class="col s12">
<h4>Önkormányzati választások - Megyei jogú városok</h4>

</div>
		
 </div>
    </div>
	</div>
	</div>
     


  